<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading">Profile Information</h2>
        <h4 class="media-heading">Your E-mail: <%= @user.email %></h4>
        <h4 class="media-heading">Your Username: <%= @user.username %></h4>
        <h4 class="media-heading">Membership Status: <%= @user.role %></h4>
        <h4 class="media-heading">
          <div class="col-md-4">
            <% if user_signed_in? && current_user.standard? %>
              <%= link_to "Upgrade Account", new_charge_path, class: 'btn btn-success' %>
            <% else user_signed_in? && current_user.premium? %>
              <%= link_to "Downgrade Account", downgrade_path, class: 'btn btn-success', data: {confirm: 'Standard Accounts have no Private Wikis. If you downgrade, your Private Wikis will be made Public.'} %>
            <% end %>
          </div >
        </h4>
      </div>
    </div>
  </div>
</div>

<h2>Create a New Wiki</h2>
<%= render partial: 'wikis/form', locals: { user: @user, wiki: Wiki.new } %>

<% if current_user.wikis.exists? %>
<h2>Your Wikis</h2>
<%= render @user.wikis %>
<% end %>

<% if current_user.collaborations.exists? %>
<h2>Private Collaborations</h2>
  <% @user.collaborations.each do |collaboration| %>
    <tr>
        <td><%= link_to collaboration.wiki.title, collaboration.wiki %></td>
    </tr>
  <% end %>
<% end %>
