<div>
  <h1>
    <%= markdown(@wiki.title) %> <br>
    <h5>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
    </small>
    </h5>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <%= link_to "Delete Wiki", [@wiki], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
  </div>
  </div>

  <% if @wiki.private %>
    <%= render partial: "collaborations/form", locals: {wiki: @wiki, user: @user} %>
  <% end %>

  <% if @wiki.private %>
    <% if Collaboration.exists?(wiki_id: @wiki) %>
    <%= render partial: 'collaborations/collaborations', locals: { wiki: @wiki } %>
    <% end %>
  <% end %>
